$light_gray: #f8f9fa;
$gray: #e9ecef;
$dark_gray: #495057;
$light_blue: #d0ebff;

.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
    border: none;

    &:hover{
        background: #d8dbdd;
    } 
}